<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/home/koinworks/Koinworks/automation/automation-newbie/src/test/java/mycompany/qa/Android">
        <classes>
            <class name="mycompany.qa.Android.AppiumTest"></class>
            <class name="mycompany.qa.Android.AppiumTest2"></class>
        </classes>
    </test>
</suite>