<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/home/koinworks/Koinworks/automation/automation-newbie/src/test/java/qa">
        <classes>
            <class name="qa.AppiumTest">
                <methods>
                    <include name="Android"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>